* {
  box-sizing: border-box;
}

html {
  background-color: rgb(42, 61, 60);
  color: white;
  padding: 25px;
}

p,
span,
label {
  font-size: 20px;
}

ul,
ol {
  list-style-type: none;
  padding: 0;
  margin: 0;
}

form > ul {
  display: flex;
  flex-direction: column;
  width: 500px;
  gap: 10px;
}

form > ul > li {
  display: flex;
  flex-direction: column;
}

button {
  margin: 5px;
  padding: 7px;
  border: none;
  background-color: rgb(23, 32, 32);
  color: white;
  transition: all;
  transition-duration: 150ms;
}

button:hover {
  background-color: rgb(29, 41, 41);
  border-radius: 10px;
  cursor: pointer;
}

.message-cont {
  border: 2px solid black;
  padding: 15px;
  margin: 20px 0;
}
